<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>

		<add name="BaseDeProyecto"
			 connectionString="data source=PABLO-BLANCO\SQLEXPRESS;Initial Catalog=DB_Proyecto;persist security info=True;Integrated Security=SSPI"
			 providerName="System.Data.SqlClient" />
		
	</connectionStrings>
	
</configuration>